{% extends "layout.html" %}
{% block body %}
<!-- 分页样式 -->
<link href="/static/css/zxf_page.css" rel="stylesheet">
<link rel="stylesheet" href="/static/house/css/list.css">

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>二手好房</h1>
                    <span class="subheading">给您推荐优质房源</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <!--当前城市-->
    <div class="row info-line">
        <!-- 模块1标题 -->
        <div class="col-lg-12 tj-header">
            <h3>{{ page_title }}</h3>
            <div class="describe">
                {% if search_keyword %}
                    <span>搜索关键词：{{ search_keyword }}，共找到 {{ total_count }} 条结果</span>
                {% else %}
                    <span>为您精准定位，当前城市房源信息</span>
                {% endif %}
                <span class="float-right"><a href="/" style="color: #17a2b8; padding-right: 5px">返回首页</a></span>
            </div>
        </div>
        
        <!-- 排序选项 -->
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="sort-options">
                    <span class="sort-label">排序方式：</span>
                    <a href="/list{% if search_keyword %}?search={{ search_keyword }}{% if request.args.get('type') %}&type={{ request.args.get('type') }}{% endif %}{% endif %}" class="sort-btn {% if not sort_type %}active{% endif %}">
                        <i class="fa fa-clock-o"></i> 最新发布
                    </a>
                    <a href="/list?sort=hot{% if search_keyword %}&search={{ search_keyword }}{% if request.args.get('type') %}&type={{ request.args.get('type') }}{% endif %}{% endif %}" class="sort-btn {% if sort_type == 'hot' %}active{% endif %}">
                        <i class="fa fa-fire"></i> 热度最高
                    </a>
                </div>
            </div>
        </div>

       
        <!-- 模块1信息展示 -->
        <div class="collection col-lg-12 col-md-12">
            <div id="fill-data" class="">
                {% if houses %}
                    {% for house in houses %}
                    <div class="row collection-line house-item">
                        <div class="col-lg-5 col-md-5 mx-auto">
                            <div><a href="/house/{{ house.id }}"><img class='img-fluid img-box'
                                        src="/static/img/house-bg1.jpg" alt=""></a></div>
                        </div>
                        <div class="col-lg-5 col-md-5 mx-auto">
                            <div class="collection-line-info">
                                <div class="title">
                                    <span><a href="/house/{{ house.id }}">{{ house.title | deal_title_over }}</a></span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源地址：</span>
                                    &nbsp
                                    <span class="info-text">{{ house.address or '暂无地址' }}</span>
                                </div>
                                <div>
                                    <span class="attribute-text">建筑面积：</span>
                                    &nbsp
                                    <span class="info-text">{{ house.area or '暂无' }}平方米</span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源户型：</span>
                                    &nbsp
                                    <span class="info-text">{{ house.rooms or '暂无' }}</span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源朝向：</span>
                                    &nbsp
                                    <span class="info-text">{{ house.direction or '暂无' }}</span>
                                </div>
                                <div>
                                    <span class="attribute-text">交通条件：</span>
                                    &nbsp
                                    <span class="info-text">{{ house.traffic or '暂无' }}</span>
                                </div>

                                <div>
                                    <span class="attribute-text"><i class="fa fa-heart" aria-hidden="true"
                                            style="color: #e74c3c"></i>{{ house.page_views or 0 }}人浏览过</span>
                                    &nbsp
                                    <span class="info-text"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 mx-auto">
                            <div class="info-more">
                                <span class="info-text" style="color: #e74c3c">￥&nbsp{{ house.price or '暂无' }}</span>
                                <span><a href="/house/{{ house.id }}"><i class="fa fa-arrow-right"
                                            aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>暂无房源信息</h4>
                            {% if search_keyword %}
                                <p>未找到包含"{{ search_keyword }}"的房源，请尝试其他关键词</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- 分页导航 -->
            {% if total_pages > 1 %}
            <div class="pagination-container">
                <div class="pagination-info">
                    显示第 {{ current_page }} 页，共 {{ total_pages }} 页，总计 {{ total_count }} 条记录
                </div>
                <div class="pagination-buttons">
                    {% if current_page > 1 %}
                        <a href="/list?page={{ current_page - 1 }}{% if search_keyword %}&search={{ search_keyword }}{% endif %}{% if request.args.get('type') %}&type={{ request.args.get('type') }}{% endif %}{% if sort_type %}&sort={{ sort_type }}{% endif %}" class="pagination-btn">上一页</a>
                    {% endif %}
                    
                    {% for page_num in range(1, total_pages + 1) %}
                        {% if page_num == current_page %}
                            <span class="pagination-btn active">{{ page_num }}</span>
                        {% elif page_num <= 3 or page_num > total_pages - 3 or (page_num >= current_page - 1 and page_num <= current_page + 1) %}
                            <a href="/list?page={{ page_num }}{% if search_keyword %}&search={{ search_keyword }}{% endif %}{% if request.args.get('type') %}&type={{ request.args.get('type') }}{% endif %}{% if sort_type %}&sort={{ sort_type }}{% endif %}" class="pagination-btn">{{ page_num }}</a>
                        {% elif page_num == 4 and current_page > 5 %}
                            <span>...</span>
                        {% elif page_num == total_pages - 3 and current_page < total_pages - 4 %}
                            <span>...</span>
                        {% endif %}
                    {% endfor %}
                    
                    {% if current_page < total_pages %}
                        <a href="/list?page={{ current_page + 1 }}{% if search_keyword %}&search={{ search_keyword }}{% endif %}{% if request.args.get('type') %}&type={{ request.args.get('type') }}{% endif %}{% if sort_type %}&sort={{ sort_type }}{% endif %}" class="pagination-btn">下一页</a>
                    {% endif %}
                    
                    <!-- 页码跳转 -->
                    <div class="page-jump">
                        <span>跳转到</span>
                        <input type="number" id="jumpPage" class="jump-input" min="1" max="{{ total_pages }}" placeholder="{{ current_page }}">
                        <span>页</span>
                        <button type="button" id="jumpBtn" class="jump-btn">跳转</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- 右边栏信息展示 -->
        <div class="col-lg-2">
            <div class="row">
            </div>
        </div>

    </div>
</div>
<hr>

<!-- 跳转按钮 -->
<script>
$(document).ready(function() {
    // 页码跳转功能
    $('#jumpBtn').on('click', function() {
        jumpToPage();
    });
    
    // 回车键跳转
    $('#jumpPage').on('keypress', function(e) {
        if (e.which === 13) { // Enter键
            jumpToPage();
        }
    });
    
    // 跳转函数
    function jumpToPage() {
        var pageNum = parseInt($('#jumpPage').val());
        var totalPages = {{ total_pages }};
        var currentPage = {{ current_page }};
        
        // 验证输入
        if (!pageNum || isNaN(pageNum)) {
            alert('请输入有效的页码！');
            $('#jumpPage').focus();
            return;
        }
        
        if (pageNum < 1 || pageNum > totalPages) {
            alert('页码必须在 1 到 ' + totalPages + ' 之间！');
            $('#jumpPage').focus();
            return;
        }
        
        if (pageNum === currentPage) {
            alert('您已经在第 ' + currentPage + ' 页了！');
            return;
        }
        
        // URL
        var url = '/list?page=' + pageNum;
        
        // 添加搜索参数
        {% if search_keyword %}
        url += '&search={{ search_keyword }}';
        {% endif %}
        
        // 添加搜索类型参数
        {% if request.args.get('type') %}
        url += '&type={{ request.args.get('type') }}';
        {% endif %}
        
        // 添加排序参数
        {% if sort_type %}
        url += '&sort={{ sort_type }}';
        {% endif %}
        
        // 跳转到指定页面
        window.location.href = url;
    }
});

</script>
{% endblock %}